<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forgetpassword2.css">
    
</head>
<body>
    <section class="container"><form action="/forgetpassword2" method="POST">
            <p class="title">Create new password</p>  
              <input type="hidden" name="emailAddress" value="<%= emailAddress %>">
            <div class="input-box">
                <label class="password">New password</label>
                <input type="password" class="password" id="password" name="password" placeholder="***************" required>
                <span class="toggle-password" onclick="togglePasswordVisibility()">&#128065;</span>
            </div>
            <button type="submit" class="signin"">SIGN IN</button>
        </form>
    </section>
    
<script>
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      var toggleIcon = document.querySelector(".toggle-password");
  
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleIcon.innerHTML = "&#128064;"; // عرض الرمز العين المشدودة
      } else {
        passwordInput.type = "password";
        toggleIcon.innerHTML = "&#128065;"; // عرض الرمز العين المفتوحة
      }
    }
  </script>
</body>
</html>
