<!DOCTYPE html>
<html>
<head>
    <title>Web App Icon Example</title>
    <link rel="stylesheet" href="/css/icon.css">
  </head>
  <body>
    <a href="/welcome">
      <div class="app-icon" title="Brain Tumor Detection">
        <img src="/img/brainIcon.png" alt="Application Icon">
        <span class="app-name">BTD</span>
      </div>
    </a>
  </body>
  </html> 