<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/welcome page.css">
</head>
<body>
    <header>
        <h1 class="logo">welcome to </h1>
        <h2 class="logo2" >Brain Tumor Detection Web Site...</h2>
        
        <div class="logo1" style="position: fixed; top: 0; right: 0;">
          <img src="/img/brainIcon.png" alt="Application Icon" style="width: 30px; height: 30px; display: block;">
          <span class="app-name" style="display: block;font-size: 14px;color: rgb(103, 103, 220) ">BTD</span>
        </div>
    </header>   
    
    <div class="sign">
        <div>
          <p class="top">BTD</p>
          <button class="signin" onclick="window.location.href='http://localhost:5000/sign_up' ;" >Sign up</button>
          <p class="down">Already have an account ?</p>
          <button class="signup" onclick="window.location.href='http://localhost:5000/sign_in';">Sign in</button>
        </div>
      </div>

</body>
</html>